In [1]:
import pandas as pd

## Universidad Austral de Chile

# INFO257: Inteligencia Artificial (Modulo "Aprendizaje supervisado")


***
## Abstract

La asignatura de **Inteligencia Artificial** tiene como principal propósito que los estudiantes analicen temáticas referidas a inteligencia artificial, aplicando estrategias de aprendizaje supervisado, aprendizaje no supervisado y algoritmos de búsqueda con heurísticas para resolver problemas aplicados.

Programa 2020 (algunos cambios menores posibles): [[INFO257_2020]](https://docs.google.com/document/d/1WmBrKBHidSkeZbA5bcbVXY82DupDVFIcYOSaavHir6Y/edit?usp=sharing)


***
## Contenidos

- Tarea práctica: [[Doc]](https://docs.google.com/document/d/1-oZrexNbKHGwV239iYcXHLaKSXkjtgPddWKaLA2FMu0/edit?usp=sharing)

- **Unidad "Aprendizaje Supervisado":** Talleres de resolución de problemas de clasificación automática
	- Introducción a Regresión Lineal y Regresión Logística: [[Notebook 1]](unidad1/Notebook_1.ipynb): 
	- ¿Cómo estimar los paramétros de los modelos de Regresión Lineal y Logística?: [[Slides]](https://docs.google.com/presentation/d/11O3ud6ywHuaro6OemhyeH07nuJtdc4ybMuTJicnMnm8/edit?usp=sharing), [[Notebook 2-a]](unidad1/Notebook_2_a.ipynb), [[Notebook 2-b]](unidad1/Notebook_2_b.ipynb): 
	- Introducción a algorítmos de árboles de decisión: [[Notebook 3-a]](unidad1/Notebook_3_a.ipynb), [[Notebook 3-b]](unidad1/Notebook_3_b.ipynb)
	- Clasificación supervisada de textos: [[Notebook 4]](unidad1/Notebook4.ipynb) 
	- Técnicas de _Ensemble Learning_
	- Otros datasets para experimentar:
		- Sloan Digital Sky Survey DR14: Clasificación de estrellas, galaxias y cuásares [[dataset]](https://www.kaggle.com/lucidlenn/sloan-digital-sky-survey)
		- FIFA 19 complete player dataset: Clasificación o Clustering de jugadores [[dataset]](https://www.kaggle.com/karangadiya/fifa19)
		- Graduate admision: Predecir la admisión de estudiantes [[dataset]](https://www.kaggle.com/mohansacharya/graduate-admissions)

- **Videos:**
- Fundamentos de Machine Learning
	- [[Introducción]](https://www.youtube.com/watch?v=Gv9_4yMHFhI), [[Confusion Matrix]](https://www.youtube.com/watch?v=Kdsp6soqA7o), [[Cross Validation]](https://www.youtube.com/watch?v=fSytzGwwBVw)
- Regresión Lineal
	- [[1]](https://www.youtube.com/watch?v=nk2CQITm_eo), [[2]](https://www.youtube.com/watch?v=zITIFTsivN8)
- Regresión Logística
	- [[1]](https://www.youtube.com/watch?v=yIYKR4sgzI8), [[2]](https://www.youtube.com/watch?v=BfKanl1aSG0), [[3]](https://www.youtube.com/watch?v=xxFYro8QuXA)
- Gradient Descent
	- [[1]](https://www.youtube.com/watch?v=sDv4f4s2SB8)
- Árbol de decisión
	- [[1]](https://www.youtube.com/watch?v=7VeUPuFGJHk), [[2]](https://www.youtube.com/watch?v=wpNl-JwwplA)
- Ensemble Learning (Random Forest)
	- [[1]](https://www.youtube.com/watch?v=J4Wdy0Wc_xQ), [[2]](https://www.youtube.com/watch?v=nyxTdL_4Q-Q)
***
## Software y librerías

- Lenguaje: [Python3](https://docs.python.org/3/)
- Ambiente: [IPython](https://ipython.org), [Jupyter](https://jupyter.org/)
- Librerías: [Numpy](http://www.numpy.org/), [Pandas](https://pandas.pydata.org/), [Scipy](https://www.scipy.org/)

In [21]:
a=pd.read_clipboard(header=None, sep=",")
#a=pd.read_clipboard(sep=",")

In [8]:
pd.read_csv??

In [22]:
a

,0,1,2,3,4,5,6,7,8,9,10,11
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S

In [ ]:
Año,Marca,Modelo,Descripción,Precio
1997,Ford,E350,"ac, abs, moon",3000.00
1999,Chevy,Venture,Extended Edition,4900.00
1999,Chevy,Venture,"Extended Edition, Very Large",5000.00
1996,Jeep,Grand Cherokee,"MUST SELL! air, moon roof, loaded",4799.00

In [ ]:
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.05,,S
6,0,3,"Moran, Mr. James",male,,0,0,330877,8.4583,,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.075,,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,,C
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7,G6,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.55,C103,S
13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,8.05,,S
14,0,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.275,,S
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,,S
16,1,2,"Hewlett, Mrs. (Mary D Kingcome) ",female,55,0,0,248706,16,,S
17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,29.125,,Q
18,1,2,"Williams, Mr. Charles Eugene",male,,0,0,244373,13,,S
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",female,31,1,0,345763,18,,S
20,1,3,"Masselmani, Mrs. Fatima",female,,0,0,2649,7.225,,C
21,0,2,"Fynney, Mr. Joseph J",male,35,0,0,239865,26,,S
22,1,2,"Beesley, Mr. Lawrence",male,34,0,0,248698,13,D56,S
23,1,3,"McGowan, Miss. Anna ""Annie""",female,15,0,0,330923,8.0292,,Q
24,1,1,"Sloper, Mr. William Thompson",male,28,0,0,113788,35.5,A6,S
25,0,3,"Palsson, Miss. Torborg Danira",female,8,3,1,349909,21.075,,S
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",female,38,1,5,347077,31.3875,,S
27,0,3,"Emir, Mr. Farred Chehab",male,,0,0,2631,7.225,,C
28,0,1,"Fortune, Mr. Charles Alexander",male,19,3,2,19950,263,C23 C25 C27,S